.intro
  %article
    %section#_1
      %h1 Welcome to Code Fellow's Mentor Match.
      %h3 The Mentor Match application was created by a team of Code Fellows alumni and instructors to seamlessly connect the students of Code Fellows Development Accelerators with industry professionals for short-term mentorships. These relationships give students practical, real-world wisdom and preparedness as they transition into the full-time world of programming, which results in greater immediate and long-term career success.
      %section.gotItWrapper
        -if current_user.present?
          = link_to "Got it!", user_path(current_user.id), class: "continueBtn"
        -else
          = link_to "Got it!", splash_path, class: "continueBtn"
