@media screen and (max-width: 640px){
  .new{
    display: block !important;

    header{
      padding: 5vh 0 0 0;
    }
    h1{
      padding: .25em;
      font-size: 2em;
    }
    form#new_user{
      article.inputs{
        width: 100%;
        display: block;
        padding: 0;
        background: transparent;
      }
      label{
        padding: 0 1em;
        font-size: 1.5em;
        text-align: left;
        margin-right: 1em;
      }
      input{
        color: $delta;
        font-size: 1.5em;
        background: transparent;
        width: auto;
        &.btn_txt{
          font-size: 1em;
        }
      }
      section{
        display: block;
        padding-left: 1em;
      }
      section.submitBtn{
        margin-top: 3em;
      }
    }
  }
  input#user_remember_me{
    margin-left: 1em;
  }
}
